.freeDelivery {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.forAllOders {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  color: #9f9f9f;
}
.deliveryDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 282px;
  max-width: 100%;
}
.daysReturn,
.ifGoodsHave {
  margin: 0;
  position: relative;
}
.daysReturn {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.ifGoodsHave {
  align-self: stretch;
  font-size: 20px;
  color: #9f9f9f;
}
.deliveryDetails1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 282px;
  max-width: 100%;
}
.securePayment {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.securePaymentConsectetur {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  color: #9f9f9f;
}
.deliveryDetails2,
.footer,
.freebies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.deliveryDetails2 {
  flex: 1;
  flex-direction: column;
  min-width: 282px;
  max-width: 100%;
}
.footer,
.freebies {
  flex-direction: row;
}
.freebies {
  flex: 1;
  background-color: #faf4f4;
  flex-wrap: wrap;
  padding: 96px 100px;
  box-sizing: border-box;
  gap: 46px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Poppins;
}
.footer {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .daysReturn,
  .freeDelivery,
  .securePayment {
    font-size: 26px;
  }
  .freebies {
    gap: 23px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .freeDelivery {
    font-size: 19px;
  }
  .forAllOders {
    font-size: 16px;
  }
  .daysReturn {
    font-size: 19px;
  }
  .ifGoodsHave {
    font-size: 16px;
  }
  .securePayment {
    font-size: 19px;
  }
  .securePaymentConsectetur {
    font-size: 16px;
  }
  .freebies {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
